*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #eee;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.basis-none {
  flex-basis: auto !important;
}

.grow-none {
  flex-grow: inherit !important;
}

.flex-rowReverse {
  flex-direction: row-reverse;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.c-container {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .c-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .c-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .c-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .c-container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .c-container {
    max-width: 1320px;
  }
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.5rem;
}
.navbar .c-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bg-dark {
  background-color: #000;
}

.navbar-brand {
  padding-block: 0.3125rem;
  font-size: 1.25rem;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-nav {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  flex-basis: 100%;
  align-items: center;
}
.navbar-nav .navbar-item {
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar-nav .navbar-item:hover {
  transition: color 0.3s ease-in-out;
}
.navbar-nav .navbar-item:hover .navbar-link {
  color: #017A98;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar-nav .navbar-item .navbar-link {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: capitalize;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 1px;
  padding-bottom: 5px;
}
@media (width >= 800px) {
  .navbar-nav .navbar-item.hamburger-icon {
    display: none;
  }
}
.navbar-nav .navbar-btn {
  background-color: #017A98;
}
.navbar-nav .navbar-btn .navbar-link {
  font-size: 14px;
  letter-spacing: 2px;
}
.navbar-nav.side-bar {
  position: fixed;
  left: auto;
  right: 0px;
  top: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.28);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 40px;
  transition: all 0.5s ease-in-out;
  transform: translateX(250px);
  z-index: 10;
}
.navbar-nav.side-bar.show {
  transition: all 0.5s ease-in-out;
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}
.navbar-nav.side-bar.show ~ #bg-overflow {
  display: block;
}
.navbar-nav.side-bar .navbar-nav .navbar-item:hover .navbar-link {
  border-bottom: 0px !important;
}

.no-scroll {
  overflow: hidden;
}

#bg-overflow {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

@media screen and (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */